body {
    font-family: 'Poppins', sans-serif;
}

header {
    margin-bottom: 40px;
}

header input {
    width: 300px;
    padding: 15px;
}

header div {
   display: flex;
   align-items: center;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-right: 7px;
}

h2 {
    font-size: 15px;
    font-weight: 700;
    color: #FF2253;
}


.buttons {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.buttons button {
    padding: 15px 20px;
    border-radius: 32px;
    border-style: none;
}


ul div{
    display: flex;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
}
span {
    display: flex;
}
span p {
    margin-right: 10px;
}

.btn-edit, .btn-delete {
    border-radius: 90px;
    border-style: none;
}


.productForm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productForm div{
    width: 300px;
    height: 300px;
    border: solid 1px;
    background-color: white;
    position: relative;
}

.productForm button.closeModal{
    color: #868E96;
    background: #E9ECEF;
    border-radius: 8px;
    border-style: none;
    font-size: 14px;
    padding: 9px;
    position: relative;
    cursor: pointer;
}


#modalSuccess {
    margin-top: 20px;
    width: 496px;
    height: 65px;
    border-bottom: #39DF8F solid 8px;

}

#modalError  {
    
    width: 496px;
    height: 65px;
    border-bottom:#FF2253 solid 8px;
}

@media (min-width: 800px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 72px;
    }
    
    header div {
        display: flex;
    }
}